main h1
{
  color: black;
  margin-left: 1em;
  margin-top: 1em;
  min-height: 1em;
}

.cards
{
  display: flex;
}

.card
{
  width: 20em;
  height: 25em;
  margin-left: 2em;
  margin-top: 6em;
  border: 1px solid rgb(168, 30, 30);

}

.card_img
{
  width: 20em;
  height: 23em;
}

.card_text
{
  text-align: center;
}
