footer
{
    background-color: grey;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
}

footer h3
{
    font-size: 20px;
    margin-left: 1em;
}

footer a
{
    margin-left: 1em;
}