.menu
{
    height: 34.1em;
}

.cards_menu
{
    display: flex;
}

.card_menu_characters
{   
    margin-left: 10%;
}

.card_menu_comics
{   
    margin-left: 5%;
}

.menu_text
{
    font-size: 5em;
    color: black;
    margin-left: 1%;
    margin-top: 0;
}

.card_menu_characters_link
{
    margin-left: 10%;
    color: black;
    font-size: 3em;
    text-decoration: none;
}

.card_menu_comics_link
{
    margin-left: 13%;
    color: black;
    font-size: 3em;
    text-decoration: none;
}